#tetris-content {

}

#statsDiv {

}

#gameBoardDiv {

}

#menu {
    background-color: teal;
}
#upcoming {
    background-color: blue;
}
#upcomingParent {
    background-color: black;
}

#canvasDiv {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: red;
}

#canvas {
    background-color: pink;
}

#score {
    background-color: green;
}

#start {
    background-color: pink;
}


html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* BELOW HERE IS FOR MODAL */


#tetris {
    height: 100%;
    width: 100%;
    display: table;
    /*
    color: whitesmoke;
    background-color: midnightblue;
    */
}
.tetris-container {
    height: 100%;
    width: 90%;
    min-height:640px;
    min-width:480px;
    font-size: 14px;
    color: darkslategrey;
    background-color: whitesmoke;
    /* text-shadow: 0 1px 2px rgba(0,0,0,.5); */
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    font-weight: bold;
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: tomato;
    color: whitesmoke;
}
.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.is-hidden {
    display: none;
}

.monospace {
    font-family: monospace;
    whitespace: pre-wrap;
}

button {
    display: inline-block;
    border: none;
    padding: .8rem .8rem;
    margin: 0;
    text-decoration: none;
    background: mediumblue;
    color: snow;
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* https://viralpatel.net/blogs/css-radio-button-checkbox-background/ */

input[type=radio] {
    position:fixed;
    opacity:0;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: whitesmoke;
    border-color: darkslategrey;
}

input[type=radio]:checked + label {
    background-image: none;
    color: snow;
    background-color: mediumblue;
}
